/* Ideally each component should have their own css file */

.paperWrap {
  width: 100%;
}

.productGrid {
  display: flex;
  justify-content: space-evenly;
}

.categoryBar {
  display: flex;
}

.categoryName {
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bold;
}